@media only screen and (max-width : 576px) {

    .logo {
        display: none;
    }

    .logo-responsive {
        width: 10vh;
    }

    .menu {
        display: none;
    }

    .banner {
        display: none;
    }

    .carousel-setup {
        margin: 150px 0px 0px 0px;
    }
    
    .imagenes-setup{
        width: 100% !important;
        height: 100% !important;
    }

    .imagen-navegable {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 60px auto;
        padding-left: 45px;
    }
    
    .imagen-navegable img {
        width: 90%;
        margin: auto;
    }

    .mas-vendido{
        display: none;
    }

    .juegos-mas-vendidos{
        display: none;
    }

    .juegos-ps {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        margin: 150px 0px 20px 0px;
    }

    .ps-item {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 3px;
        padding: 0px;

        .button-setup {
            width: 40% !important;
            display: flex;
            justify-content: center;

            .btn {
                padding: 0.2rem 0.6rem !important;
                font-size: 0.5rem;
                margin-right: 10px;
            }
        }

        img {
            width: 20%;
            margin-left: 5px;
        }
    }

    .precio {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto 20px;
        width: 50%;

        h3 {
            font-size: 0.5rem;
            text-align: left;
            margin: 2px 0px;
        }

        p {
            font-size: 0.7rem;
        }
    }

    .juegos-xbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        margin: 150px 0px 20px 0px;
    }

    .xbox-item {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 3px;
        padding: 0px;

        .button-setup {
            width: 40% !important;
            display: flex;
            justify-content: center;

            .btn {
                padding: 0.2rem 0.6rem !important;
                font-size: 0.5rem;
            }
        }

        img {
            width: 20%;
            margin-left: 5px;
        }

    }

    .juegos-pc-gaming {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        margin: 150px 0px 20px 0px;
    }

    .pc-item {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 3px;
        padding: 0px;

        .button-setup {
            width: 40% !important;
            display: flex;
            justify-content: center;

            .btn {
                padding: 0.2rem 0.6rem !important;
                font-size: 0.5rem;
            }
        }

        img {
            width: 20%;
            margin-left: 5px;
        }
    }

    .lista-footer {
        padding-top: 30px;
        margin-top: 10px;
    }

    footer {
        padding: 45px 25px;

        .mercadopago {
            width: 10vh;
        }

        .mercadopago-text {
            font-size: 0.3rem;
        }
    }

    .footer-bt{
        font-size: 0.4rem;
    }

    .footer-container .redes-sociales {
        width: 3vh;
        padding: 0px 4px;
    }

}






@media only screen and (min-width : 577px) and (max-width : 991px) {

    .logo {
        display: none;
    }

    .logo-responsive {
        width: 10vh;
    }

    .banner {
        display: none;
    }

    .menu {
        display: none;
    }

    .carousel-setup {
        margin: 150px 0px 0px 0px;
    }

    .imagenes-setup{
        width: 100% !important;
        height: 100% !important;
    }

    .imagen-navegable {
        width: 60%;
        display: flex;
        align-items: center;
        margin: 60px auto;
        height: 40%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .imagen-navegable img {
        width: 100%;


    }

    .mas-vendido{
        width: 60%;

        p{
            font-size: 1rem;
        }
    }

    .juegos-mas-vendidos{
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 0px;

        .mas-vendidos-item{
            width: 30%;
            height: 35vh;
        }
    }


    .button-setup {
        width: 40% !important;
        display: flex;
        justify-content: center;

        .btn {
            padding: 0.2rem 0.6rem !important;
            font-size: 0.5rem;
        }
    }


    .juegos-ps,
    .juegos-xbox,
    .juegos-pc-gaming {
        flex-wrap: wrap;
        gap: 0px;
        margin: 150px auto;
    }

    .ps-item,
    .xbox-item,
    .pc-item {
        width: 30vh;
        height: 50vh;
    }

    footer {
        padding: 45px 25px;

        .mercadopago{
            width: 23vh;
        }
    }

    
    .footer-bt{
        font-size: 0.5rem;
    }

    .footer-container .redes-sociales {
        width: 3vh;
        padding: 0px 4px;
    }

}