@media only screen and (max-width : 576px) {

    .logo {
        display: none;
    }

    .logo-responsive{
        width: 10vh;
    }

    .menu{
        display: none;
    }

    .banner{
        display: none;
    }

    .carousel-setup{
        margin: 150px 0px 0px 0px;
    }


    .imagen-navegable {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 60px auto;
        padding-left: 45px;
    }

    .imagen-navegable img {
        width: 90%;
        margin: auto;
    }

    .juegos-ps {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        margin: 150px auto;
    }

    .ps-item {
        width: 80%;
        height: 60%;
    }

    .juegos-xbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        margin: 150px auto;
    }

    .xbox-item {
        width: 80%;
        height: 60%;
    }

    .juegos-pc-gaming {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        margin: 150px auto;
    }

    .pc-item {
        width: 80%;
        height: 60%;
    }

    .lista-footer {
        padding-top: 40px;
    }

    footer{
        padding: 45px 25px;

        .mercadopago{
            width: 20vh;
        }

        .mercadopago-text{
            font-size: 0.3rem;
        }
    }
}






@media only screen and (min-width : 577px) and (max-width : 991px) {

    .logo {
        display: none;
    }

    .logo-responsive{
        width: 10vh;
    }

    .banner{
        display: none;
    }

    .menu{
        display: none;
    }

    .carousel-setup{
        margin: 150px 0px 0px 0px;
    }

    .imagen-navegable {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px auto;
        height: 40%;
        justify-content: space-evenly;
    }

    .imagen-navegable img {
        width: 100%;


    }

    .juegos-ps,
    .juegos-xbox,
    .juegos-pc-gaming {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        margin: 150px auto;
    }

    .ps-item,
    .xbox-item,
    .pc-item {
        width: 30vh;
        height: 50vh;
    }

    footer{
        padding: 45px 25px;
    }
}