@mixin body-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

@mixin animation ($transition){
    transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
}

@mixin transform ($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
}

@mixin imagenes-productos{
    width: 75%;
    height: 60%;
    border-radius: 4px;
    margin: 10px 0px;
    object-fit: contain;
}


@mixin producto-precio {
    font-size: 0.7rem;
    font-family: 'Roboto';
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 1px 2px black;
}


