@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

body {
    background-color: $bg-color-principal;
    background-image: url(../../imagenes/background-page.jpg);
    background-size: cover;

    .imagen-ps, .imagen-xbox, .imagen-pcgaming {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}
.imagen-navegable{
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: stretch;
    justify-items: center;
    grid-gap: 5px;
    margin: 200px auto;
}
.navegable-item1{
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}
.navegable-item2{
    grid-column: 4 / 6;
    grid-row: 1 / 4;
}
.navegable-item3{
    grid-column: 2 / 6;
    grid-row: 4 / 8 ;
}
