@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

body {
    background-color: $bg-color-principal;
    background-image: url(../imagenes/background-page.jpg);
    background-size: contain;

    .imagen-ps,
    .imagen-xbox,
    .imagen-pcgaming {
        width: 60vh;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
    }
}

.imagen-navegable {
    width: 100%;
    max-height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 5px;
    margin: 200px auto;
}


.imagenes-setup{
    height: 90vh !important;
}

