@import '../base/variables';
@import '../base/mixins';
@import '../base/maps';


.juegos-pc-gaming {
    @include body-container
}

.pc-item {
    width: 35vh;
    height: 54vh;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: $bg-color-principal;
    box-shadow: 0px 1px 10px $color-pc;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    @include animation(all 400ms ease);

    &:hover {
        box-shadow: 5px 5px 20px $color-pc;
        @include transform(scale(1.1, 1.1))
    }

    img {
        @include imagenes-productos
    }

    p, h3 {
        @include producto-precio
    }
}