@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

.juegos-ps {
    @include body-container
}

.ps-item {
    width: 35vh;
    height: 54vh;
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: linear-gradient(180deg,  $bg-color-principal, rgb(0, 91, 209), $bg-color-principal);
    box-shadow: 0px 1px 10px $color-ps;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include animation(all 400ms ease);

    &:hover {
        box-shadow: 5px 5px 20px $color-ps;
        @include transform(scale(1.1, 1.1))
    }

    img {
        @include imagenes-productos
        
    }

    p,
    h3 {
        @include producto-precio
    }
}