@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';


.juegos-xbox {
    @include body-container
}

.xbox-item {
    width: 35vh;
    height: 50vh;
    padding-bottom: 20px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: $bg-color-principal;
    box-shadow: 0px 1px 10px $color-xbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include animation(all 400ms ease);

    &:hover {
        box-shadow: 5px 5px 20px $color-xbox;
        @include transform(scale(1.1, 1.1))
    }


    img {
        width: 80%;
        height: 65%;
        border-radius: 14px;
        padding: 20px;
    }

    p, h3 {
        font-size: 0.7rem;
        font-family: 'Roboto';
        color: $color-white;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
    }
}